<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">


<head th:replace="layout :: site-head">

</head>

<style>
    .content {
        max-width: 60%;
        margin: auto;
    }
    .float-r{
        float: right;
        margin: 1rem;
    }
</style>




<body>

<main class="content" id="post">
    <header th:replace="layout :: logged-out"></header>
    <h1>All Blogs</h1>
    <post th:each="p: ${posts}">
        <h2 th:text="${p.title}"></h2>
      <!--  <i>Posted on:</i><span th:text="${p.date}"></span>-->
        <p th:text="${p.body}"></p>

    </post>
</main>
</body>
</html>