<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head th:fragment="site-head">
    <meta charset="UTF-8">
    <title>My Technical Blog</title>
</head>
<body>

<header th:fragment="logged-out" th:remove="tag">
    <header >
        <a href="users/login.html" class="float-r" th:href="@{/users/login}">Login</a>
        <a href="users/registration.html" class="float-r" th:href="@{/users/registration}">Registration</a>
    </header>
</header>

<header th:fragment="logged-in" th:remove="tag">
    <header>
        <a th:href="@{posts/create}"  >Create post</a>
        <form method="post" th:action="@{/users/logout}" >
            <input type="submit" value="Logout"/>
        </form>
    </header>
</header>
</body>
</html>