<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Application - User Posts</title>
</head>

<header th:replace="layout :: logged-in"></header>

<body>
<h1>Welcome User. These are your posts</h1>
<main id="posts">
    <post th:each="p : ${posts}">
        <h2 th:text="${p.title}"></h2>
        <i>Posted On: </i> <span th:text="${p.date}"></span>
        <div>
            <p th:text="${p.body}"></p>
        </div>
        <div>
            <a th:href="@{/editPost(postId=${p.id})}">Edit</a>
        </div>
        <form  th:method="delete" th:action="@{/deletePost(postId=${p.id})}" >
            <button>Delete</button>
        </form>
    </post>
</main>
</body>
</html>
